.contacts {
  list-style: none;
  margin: 0;
  padding: 0;

  bottom: 100px;
  left: 100px;

  color: #fff;
  font-size: .9rem;

  &.right {
    left: auto;
    right: 100px;
    text-align: right;
  }

  .item {
    margin-bottom: .15rem;
    color: rgba(255, 255, 255, 0.5);

    &:first-child {
      font-size: 1.1rem;
      color: #fff;
    }

    &:last-child {
      margin-top: 1rem;
      font-size: .7rem;
    }
  }
}
