.info {
  margin: 0;
  padding: 0;
  max-width: 550px;

  top: 290px;
  right: 100px;
  text-align: right;
  color: #fff;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  justify-content: flex-end;

  .item {
    width: 100%;
    transition: all 800ms;

    &:not(.active) {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      z-index: -100;
    }

    &.active {
      visibility: visible;
      opacity: 1;
    }

    .h1 {
      display: block;
      max-height: 70px;

      small {
        font-size: 2rem;
      }

      &+p {
        margin: 0;
        line-height: 1.7rem;
      }
    }

  }
}
