
* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', Tahoma, sans-serif;
}

body {
  margin: 0;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: #002b46;
  background-image: linear-gradient(to bottom, #241925, #002b46);
  background-repeat: no-repeat;

  &::after {
    content: ' ';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: .3;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    transition: background-image 500ms linear;

    -webkit-clip-path: circle(70% at 80vw 50vh);
    clip-path: circle(70% at 80vw 50vh);
  }
}
