h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'PT Serif', serif;
}

h1, .h1 {
  font-size: 3.8rem;
  line-height: 4.4rem;
}
h2, .h2 {
  font-size: 3.4rem;
  line-height: 2.2rem;
  margin: 1.6rem 0;
}
h3, .h3 {
  font-size: 1.75rem;
  line-height: 3rem;
}
h4, .h4 {
  font-size: 1.5rem;
  line-height: 3rem;
}
h5, .h5 {
  font-size: 1.25rem;
  line-height: 3rem;
}
h6, .h6 {
  font-size: 1rem;
  line-height: 3rem;
}
