<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="resource-type" content="document">

    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="TheCompany — Outdoor Advertising Design">
    <meta name="keywords" content="TheCompany,design,ads,outdoor,advertising">
    <meta name="author" content="Alexander Yukal">

    <!-- Custom styles -->
    <link rel="stylesheet" href="assets/css/theme.min.css">

    <!-- Import Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800|PT+Serif:400,700&amp;subset=cyrillic" rel="stylesheet">

    <!-- Import Vendor Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <title>TheCompany — Outdoor Advertising Design</title>
</head>
<body class="bg0">

<header>
    <img class="logo" src="assets/img/logo.png">
    <ul class="nav">
        <li><a data-href="about" href="#about">О нас</a></li>
        <li><a data-href="service" href="#service">Услуги</a></li>
        <li><a data-href="work" href="#work">Работы</a></li>
    </ul>
</header>

<aside class="navigation">
    <ul class="nav">
        <li><a data-item="1"  href="#lightbox">Лайтбокс</a></li>
        <li><a data-item="2"  href="#shtender">Штендер</a></li>
        <li><a data-item="3"  href="#banner">Баннер</a></li>
        <li><a data-item="4"  href="#tablets">Таблички</a></li>
        <li><a data-item="5"  href="#stend">Стенд</a></li>
        <li><a data-item="6"  href="#logotype">Логотип</a></li>
        <li><a data-item="7"  href="#facade">Обшивка фасада</a></li>
        <li><a data-item="8"  href="#3d">Объемные изделия</a></li>
        <li><a data-item="9"  href="#print">Широкоформатная печать</a></li>
        <li><a data-item="10" href="#photography">Фотография</a></li>
        <li><a data-item="11" href="#webdesign">Веб–дизайн</a></li>
    </ul>
</aside>

