<div class="info">
  <div class="item index active">
    <h2 class="h1">Тривиан</h2>
    <p>Наше агентство предлагает услуги по размещению наружной рекламы. Мы работаем на рынке рекламы более 5 лет, для нас все Ваши задачи под силу! Наше кредо – Ваша реклама будет работать! Особое внимание мы уделяем грамотному дизайну рекламы</p>
  </div>

  <div class="item lightbox">
    <h2 class="h1">Лайтбокс</h2>
    <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют ряд своих преимуществ</p>
  </div>

  <div class="item shtender">
    <h2 class="h1">Штендер</h2>
    <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют ряд своих преимуществ</p>
  </div>

  <div class="item banner">
    <h2 class="h1">Баннер</h2>
    <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют ряд своих преимуществ</p>
  </div>

  <div class="item tablets">
    <h2 class="h1">Таблички</h2>
    <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют ряд своих преимуществ</p>
  </div>

  <div class="item stend">
    <h2 class="h1">Стенд</h2>
    <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют ряд своих преимуществ</p>
  </div>

  <div class="item logotype">
    <h2 class="h1">Логотип</h2>
    <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют ряд своих преимуществ</p>
  </div>

  <div class="item facade">
    <h2 class="h1">Обшивка фасада</h2>
    <p>Основное преимущество данной технологии это — возможность проводить работы в зимний период, облицовывать проблемные старые фасады. И конечно важное преимущество это современный внешний вид конечного результата</p>
  </div>

  <div class="item d3">
    <h2 class="h1">Объемные <small>изделия</small></h2>
    <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют ряд своих преимуществ</p>
  </div>

  <div class="item print">
    <h2 class="h1"><small>Широкоформатная</small> Печать</h2>
    <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют ряд своих преимуществ</p>
  </div>

  <div class="item photography">
    <h2 class="h1">Фотография</h2>
    <p>Качественная фотография является одной из лучших инструментов продаж но так же она является непосредственным показателем уровня компании. Мы поможем Вам занять первые позиции на рынке и ощутить конкурентное преимущество</p>
  </div>

  <div class="item webdesign">
    <h2 class="h1">Веб–дизайн</h2>
    <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют ряд своих преимуществ</p>
  </div>
</div>
