<main id="main" role="main">
    <h1 hidden>Тривиан: реклама и дизайн</h1>
    <p hidden>Trivian: Outdoor Advertising Design</p>

    <div class="container">
        <aside id="services-wrapper">
            <ul id="services" class="nav">
                <li><a data-item="2" href="#lightbox">Лайтбокс</a></li>
                <li><a data-item="3" href="#banner">Баннер</a></li>
                <li><a data-item="4" href="#stend">Стенд</a></li>
                <li><a data-item="5" href="#facade">Обшивка фасада</a></li>
                <li><a data-item="6" href="#3d">Объемные изделия</a></li>
                <li><a data-item="7" href="#print">Широкоформатная печать</a></li>
                <li><a data-item="8" href="#photography">Фотография</a></li>
                <li><a data-item="9" href="#illustration">Иллюстрация</a></li>
                <li><a data-item="10" href="#webdesign">Веб–дизайн</a></li>
                <li><a data-item="11" href="#logotype">Логотип</a></li>
            </ul>
        </aside>

        <div id="info" class="info show">
            <ul class="controls nav">
                <li id="info-control-prev">
                    <svg viewBox="0 0 14.53 25" preserveAspectRatio="xMinYMid">
                        <use xlink:href="#chevron-left" />
                    </svg>
                </li>
                <li id="info-control-center"></li>
                <li id="info-control-next">
                    <svg viewBox="0 0 14.53 25" preserveAspectRatio="xMaxYMid">
                        <use xlink:href="#chevron-right" />
                    </svg>
                </li>
            </ul>

            <article class="active">
                <strong>Наша специализация</strong>
                <h2>Наружная <span>реклама</span></h2>
                <p>С '93-го года мы начали работать с наружной рекламой.<br>За это время мы накопили большой опыт,
                    расширили спектр услуг и сплотили команду профессионалов.
                    <!-- <span class="hide-xs hide-sm">Мы судим о себе по тому, чего мы способны добиться; <br>Другие судят о нас по тому, чего мы добились.</span> -->
                </p>
            </article>

            <article>
                <strong>Изготавливаем светящиеся</strong>
                <h2>Лайтбокс<span>ы</span></h2>
                <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из
                    Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют
                    ряд своих преимуществ</p>
            </article>

            <article>
                <strong>Печатаем рекламные</strong>
                <h2>Баннер<span>ы</span></h2>
                <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из
                    Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют
                    ряд своих преимуществ</p>
            </article>

            <article>
                <strong>Изготавливаем таблички и</strong>
                <h2>Стенд<span>ы</span></h2>
                <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из
                    Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют
                    ряд своих преимуществ</p>
            </article>

            <article>
                <!--<strong>Обшиваем композитным материалом</strong>-->
                <strong>Обшиваем композитом</strong>
                <h2>Фасад<span>ы</span> зданий</h2>
                <p>Основное преимущество данной технологии это — возможность проводить работы в зимний период,
                    облицовывать проблемные старые фасады. И конечно важное преимущество это современный внешний вид</p>
            </article>

            <article>
                <strong>Изготавливаем сложные</strong>
                <h2>Объем<span>ные</span> изделия</h2>
                <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из
                    Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют
                    ряд своих преимуществ</p>
            </article>

            <article>
                <strong>Широкоформатная</strong>
                <h2>Печ<span>ать</span></h2>
                <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из
                    Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют
                    ряд своих преимуществ</p>
            </article>

            <article>
                <strong>Проводим профессиональные</strong>
                <h2>Фотосъемки</h2>
                <p>Качественная фотография является одной из лучших инструментов продаж но так же она является
                    показателем уровня компании. Мы поможем Вам занять первые позиции на рынке и ощутить конкурентное
                    преимущество</p>
            </article>

            <article>
                <strong>Рисуем, создаем образы</strong>
                <h2>Ил<span>лю</span>страция</h2>
                <p>Качественная фотография является одной из лучших инструментов продаж но так же она является
                    показателем уровня компании. Мы поможем Вам занять первые позиции на рынке и ощутить конкурентное
                    преимущество</p>
            </article>

            <article>
                <strong>Разрабатываем и реконструируем</strong>
                <h2>Веб–сайт<span>ы</span></h2>
                <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из
                    Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют
                    ряд своих преимуществ</p>
            </article>

            <article>
                <strong>Проектируем</strong>
                <h2>Логотип<span>ы</span></h2>
                <p>Это одна из эффективных направлений рекламы. Мы печатаем только на высококачественных материалах из
                    Германии, Франции, Кореи. Технологические возможности широкоформатной печати очень большие и имеют
                    ряд своих преимуществ</p>
            </article>

            <a href="#" class="btn" id="btn-play">
                <svg viewBox="0 0 80 80">
                    <use xlink:href="#circle" />
                    <use xlink:href="#circle" />
                    <use xlink:href="#arrow" />
                </svg>
            </a>

            <div class="clearfix"></div>
        </div>

    </div>
</main>