$container-breakpoint:  960px !default; //lg
$gutter: 5vw !default;
$logo-width: 160px !default;
$logo-height: 50px !default;
$footer-height: 80px !default;
$body-bg: #00051b !default;

$link-color: #3cb371 !default;
